.checkbox-indeterminate ~ label {
  @apply before:p-1 after:-left-[21px] after:h-2.5 after:w-2.5 after:rounded-[1px] after:bg-white after:bg-none after:opacity-100;
}
.checkbox-indeterminate ~ label::after {
  mask-image: none;
}

.custom-checkbox:checked ~ label {
  @apply before:border-[#5C5CFF] before:bg-[#5C5CFF] after:opacity-100;
}
.custom-checkbox:disabled ~ label {
  @apply cursor-not-allowed before:border-[#5C5CFF] before:bg-white;
}
.custom-checkbox:checked:disabled ~ label {
  @apply cursor-not-allowed before:bg-white;
}
.custom-checkbox:focus-visible ~ label {
  @apply before:border-[#5C5CFF];
}

.custom-checkbox ~ label {
  @apply before:absolute before:-left-[15px] before:top-1/2 before:h-[22px] before:w-[22px] before:-translate-x-full before:-translate-y-1/2 before:rounded-[5px] before:border-[2px] before:border-[#5C5CFF] before:transition-colors before:content-[""];
}
/* ::after */
.custom-checkbox ~ label {
  @apply transition-colors after:absolute after:-left-[20.5px] after:top-1/2 after:h-2 after:w-[11px] after:-translate-x-full after:-translate-y-1/2 after:bg-white after:bg-no-repeat after:opacity-0 after:transition-opacity after:content-[""];
}
.custom-checkbox ~ label::after {
  mask-image: url(../../assets/complete.svg);
  mask-size: cover;
  -webkit-mask-image: url(../../assets/complete.svg);
  -webkit-mask-size: cover;
}

body {
  @apply font-montserrat;
}

.rs-calendar-time-dropdown-cell.rs-calendar-time-dropdown-cell-active {
  @apply bg-[#5C5CFF];
}

.rs-calendar-time-dropdown-cell {
  @apply hover:bg-[#C4C4FF] hover:text-[#000];
}

.rs-btn-primary {
  @apply bg-[#5C5CFF] text-[#fff] hover:bg-[#C4C4FF];
}

.rs-input-group {
  @apply border-none focus:border-none;
}

.rs-input:focus,
.rs-input:hover:not(:disabled) {
  @apply border-[0px] focus:border-none outline-none;
}

.rs-input:focus-within,
.rs-input-group:not(.rs-input-group-disabled).rs-input-group-focus {
  @apply outline-none;
}

/* .ant-steps-item-icon {
  @apply !bg-[#5C5CFF];
} */

:where(.css-dev-only-do-not-override-7ny38l).ant-steps .ant-steps-item-process .ant-steps-item-icon {
  @apply !bg-[#5C5CFF];
}

:where(.css-dev-only-do-not-override-7ny38l).ant-steps .ant-steps-item-finish .ant-steps-item-icon {
  @apply !bg-[#C4C4FF];
}

:where(.css-dev-only-do-not-override-7ny38l).ant-steps .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  @apply !text-[#000];
}

/* Стили для контейнера с PDF */
.pdf-scroll-container {
  position: relative;
  height: 800px; /* Высота контейнера */
  overflow: hidden; /* Скрываем стандартный скроллбар */
}

/* Стили для внутреннего контейнера с содержимым PDF */
.pdf-canvas-container {
  height: 100%;
  overflow-y: auto; /* Включаем скролл */
  /* Отступ для кастомного скроллбара */
}

/* Кастомный скроллбар */
.pdf-canvas-container::-webkit-scrollbar {
  width: 8px; /* Ширина скроллбара */
}

.pdf-canvas-container::-webkit-scrollbar-thumb {
  background-color: #5c5cff; /* Цвет ползунка */
  border-radius: 4px; /* Закругление углов */
}

.pdf-canvas-container::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Цвет трека */
  border-radius: 4px; /* Закругление углов */
}

@keyframes fadeIn {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes move2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

.svg-animated {
  animation: move 4s ease-in-out infinite;
}

.svg-animated2 {
  animation: move2 4s ease-in-out infinite;
}

@keyframes gradientAnimation {
  0% {
    stroke: 0% 50%;
  }
  50% {
    stroke: 100% 50%;
  }
  100% {
    stroke: 0% 50%;
  }
}

.animated-gradient > path {
  background: linear-gradient(270deg, #b1b1ff, #5c5cff);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
}

.fill-animation {
  stroke: #5c5cff; /* Начальный цвет */
  animation: strokeAnimation infinite linear reverse; /* Анимация */
  animation-duration: 4s;
}

@keyframes strokeAnimation {
  0% {
    stroke: #5c5cff; /* Начальный цвет */
  }
  100% {
    stroke: #b1b1ff; /* Конечный цвет */
  }
}

/* Задержка анимации для каждого path (например, 0.1s) */
.path-1 {
  animation-delay: 0s;
}
.path-2 {
  animation-delay: 0.1s;
}
.path-3 {
  animation-delay: 0.2s;
}
.path-4 {
  animation-delay: 0.3s;
}
.path-5 {
  animation-delay: 0.4s;
}
.path-6 {
  animation-delay: 0.5s;
}
.path-7 {
  animation-delay: 0.6s;
}
.path-8 {
  animation-delay: 0.7s;
}
.path-9 {
  animation-delay: 0.8s;
}
.path-10 {
  animation-delay: 0.9s;
}
.path-11 {
  animation-delay: 1s;
}
.path-12 {
  animation-delay: 1.1s;
}
.path-13 {
  animation-delay: 1.2s;
}
.path-14 {
  animation-delay: 1.3s;
}
.path-15 {
  animation-delay: 1.4s;
}
.path-16 {
  animation-delay: 1.5s;
}
.path-17 {
  animation-delay: 1.6s;
}
.path-18 {
  animation-delay: 1.7s;
}
.path-19 {
  animation-delay: 1.8s;
}
.path-20 {
  animation-delay: 1.9s;
}
.path-21 {
  animation-delay: 2s;
}
.path-22 {
  animation-delay: 2.1s;
}
.path-23 {
  animation-delay: 2.2s;
}
.path-24 {
  animation-delay: 2.3s;
}
.path-25 {
  animation-delay: 2.4s;
}
.path-26 {
  animation-delay: 2.5s;
}
.path-27 {
  animation-delay: 2.6s;
}
.path-28 {
  animation-delay: 2.7s;
}
.path-29 {
  animation-delay: 2.8s;
}
.path-30 {
  animation-delay: 2.9s;
}
.path-31 {
  animation-delay: 3s;
}

.path-32 {
  animation-delay: 3.1s;
}
.path-33 {
  animation-delay: 3.2s;
}
.path-34 {
  animation-delay: 3.3s;
}
.path-35 {
  animation-delay: 3.4s;
}
.path-36 {
  animation-delay: 3.5s;
}
.path-37 {
  animation-delay: 3.6s;
}
.path-38 {
  animation-delay: 3.7s;
}
.path-39 {
  animation-delay: 3.8s;
}
.path-40 {
  animation-delay: 3.9s;
}

.fill-animation2 {
  fill: transparent;
  stroke: #b1b1ff; /* Цвет линии по умолчанию */
  stroke-dasharray: 2700;
  stroke-dashoffset: 2700;
  animation: draw2 8s cubic-bezier(0.8, 0.8, 0.8, 0.8) infinite;
}

@keyframes draw2 {
  0% {
    stroke-dashoffset: 5400;
    stroke: #b1b1ff;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.rs-calendar-table-cell-selected > .rs-calendar-table-cell-content {
  @apply bg-[#5C5CFF];
}
.rs-calendar-table-cell-selected.rs-calendar-table-cell {
  @apply hover:!border-transparent;
}
.rs-picker-popup
  .rs-calendar
  .rs-calendar-table-cell-selected.rs-calendar-table-cell:hover
  .rs-calendar-table-cell-content:hover {
  @apply hover:!bg-[#5C5CFF] hover:!text-white;
}
.rs-calendar-table-cell-selected.rs-calendar-table-cell:hover > .rs-calendar-table-cell-content {
  @apply !bg-[#5C5CFF];
}

.rs-calendar-table-cell {
  @apply border border-transparent hover:!border-[#5C5CFF] hover:rounded-[4px] hover:!text-[#5C5CFF];
}
.rs-calendar-table-cell-content {
  @apply hover:!bg-white hover:!text-[#5C5CFF];
}

.rs-calendar-table-cell-is-today > .rs-calendar-table-cell-content {
  @apply shadow-none;
}

.rs-picker-popup .rs-calendar .rs-calendar-table-cell:hover .rs-calendar-table-cell-content {
  @apply hover:!bg-white hover:!text-[#5C5CFF];
}

.rs-input-group-addon:empty {
  z-index: -50;
  background-color: transparent !important;
  width: 0 !important;
  padding: 0 !important;
}

.rs-input {
  padding: 4px;
}

.rs-checkbox-control .rs-checkbox-inner:before {
  border: #5c5cff 1px solid !important;
  width: 18px;
  height: 18px;
}

.rs-checkbox-checked .rs-checkbox-control .rs-checkbox-inner:after,
.rs-checkbox-indeterminate .rs-checkbox-control .rs-checkbox-inner:after {
  margin-top: 3px;
  margin-left: 6px;
}

.rs-checkbox-checked .rs-checkbox-control .rs-checkbox-inner:before,
.rs-checkbox-indeterminate .rs-checkbox-control .rs-checkbox-inner:before {
  background: #5c5cff;
}
